---
import SunIcon from "./SunIcon.astro";
const { fee } = Astro.props;
---

<div class="text-persian-700 p-5 mx-auto max-w-screen-md">
    <div class="flex justify-center pb-5">
  <SunIcon />
  </div>
  <h3 class="font-sans uppercase font-light text-xl pb-3 text-center">{fee.data.heading}</h3>
<div class="flex justify-center">
    {fee.data.fee && (
            <table class="text-sm text-left rounded font-serif">
        <tbody>
            <tr>
                <th scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-right">
                    Fee
                </th>
                <td class="px-6 py-2">
                    {fee.data.fee}
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-right">
                   Rebate
                </th>
                <td class="px-6 py-2">
                    {fee.data.rebate}
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-2 font-medium whitespace-nowrap text-right">
                   Out-of-Pocket Cost
                </th>
                <td class="px-6 py-2">
                    {fee.data.outOfPocketCost}
                </td>
            </tr>
        </tbody>
    </table>
    )}
</div>
<p class="text-sm py-3 font-serif italic">{fee.data.introText}</p>
<div class="flex justify-center">
<hr class="h-0.5 bg-persian-700 mt-5 w-3/4">
</div>
</div>


